.header{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:30px;

}

body{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

h1{
    font-size:60px;
    line-height:0px;
    font-weight:500
}

.sub-header{
    font-size:18px;
    margin-bottom:12px
}

:root{
    font-family: "Open Sans", sans-serif;
}

.search-box{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:30px;
}

#weather-search{
    box-sizing:border-box;
    width:400px;
    height:35px;
    border-radius:10px;
    border:1px solid black;
    padding: 0px 15px;
}

#search-btn{
    box-sizing:border-box;
    margin-left:10px;
    width: 65px;
    height:35px;
    border-radius:10px;
    border:1px solid black;
    background-color: white;

}

.weathericonlarge{
    height:50px;
}

.weather-box{
    height:200px;
    width:550px;
}

.daily-temperature{
    font-size:30px;
}

.daily-weather-icon{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
    width:100px;
}

.top-weatherbox{
    display:flex;
    text-align:right;
    justify-content:space-between;
    width:550px;
}

.daily-description{
    font-size:12px;
}

.weathericonsmall{height:25px;}

.bottom-weatherbox{
    display:flex;
    justify-content:space-between;
    width:550px;
}

.weather-subbox{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.weather-subbox-text{
    font-size:12px;
}

.conversion-text{
    text-align:right;
    font-size:14px;
    margin:10px;
}